* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    height: 100%;
}

.bg {
    height: 100%;
    background:url("../images/timg.jpg") no-repeat center;
    background-size: cover; /*!!!!!*/  
    z-index: -1;
    filter: blur(.1rem);
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    top: -13.34rem;
    z-index: inherit;

}
.header {
    height: 1rem;
    border-bottom: 1px solid #bababa;
    position: relative;
    z-index: 4;
}
.header h4 {
    font-size: .32rem;
    text-align: center;
    line-height: 1;
    color: white;
    margin-top: .1rem;
}
.header h5 {
    font-size: .32rem;
    text-align: center;
    line-height: 1;
    color: white;
    margin-top: .1rem;
}
.header span{
    position: absolute;
    font-size: .4rem;
    top:.24rem;
    left: .4rem;
    color: white;
}
.main {
    flex: 1;
    overflow-y: auto;
    position: relative;
}

.gan {
    width:3rem;
    height: 3.4rem;
    position: absolute;
    top:1rem;
    left: 50%;
    z-index: 3;
    overflow: hidden;
}
.gan img {
    display: block;
    margin-top:-0.3rem;
    width: 65%;
    height: 85%;
    
}
.outline {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    margin: 1rem auto;  
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 0;
   
}
.run{
    animation: circling 20s infinite linear;  
}
.outline .heiquan>img{
    width: 6rem;
    height: auto;
    margin: .2rem .2rem;
    z-index: 1;
    position: absolute;
}

.outline .heiquan .CD {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    /* margin: 1.16rem 1.19rem; */
    /* margin:0 auto; */
    z-index: 2;
    position: absolute;
    top:1.16rem;
    left:1.19rem;

}
.outline .heiquan .CD img{
    width: 100%;
    height: 100%;

}
.div1 {
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -.18rem;
    background: white;
}
.div2 {
    width: 6rem;
    height: .04rem;
    background: gray;
    position: relative;
    margin: 1rem auto 0;
    z-index: 5;
}
.play {
    margin: 1rem auto;
}
.icon-previous2 {
    font-size: 1rem;
    color: white;
    position: relative;
    left: -.7rem;
}
.icon-pause2 {
    font-size: 1rem;
    color: white;
    /* position: absolute; */
}
.icon-next2 {
    font-size: 1rem;
    color: white;
    position: relative;
    left: .7rem;
}
.icon-play3 {
    font-size: .9rem;
    color: white;
}

.moveon{
    animation: movingOn 1s  both;
    transform-origin:.15rem .15rem;
}

.moveoff{
    animation: movingOff 1s  both;
    transform-origin:.15rem .15rem;
}

@keyframes circling{
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}



@keyframes movingOn{
    0% {
        -webkit-transform: rotate(0deg);
        
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
}


@keyframes movingOff{
    0% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}